extends ../layout

block content
    div(class="article-add")
        div(class="article-add__bg")
        div(class="wrapper")
            form(class="article-add__form" method="post")
                lable(class="article-add__form-lable" for="article-title")
                    input(
                            type="text" 
                            placeholder="Title" 
                            class="article-add__form-input" 
                            id="article-title"
                            name="article-title"
                            required
                        )
                lable(class="article-add__form-lable" for="article-tags")
                    input(
                            type="text" 
                            placeholder="tag, tag, tag,"  
                            class="article-add__form-input" 
                            id="article-tags"
                            name="article-tags"
                        )
                lable(class="article-add__form-lable" for="textarea")
                    textarea(
                            placeholder="Article..."  
                            class="article-add__form-input" 
                            id="textarea"
                            name="textarea"
                        )
                lable(class="article-add__form-lable" for="img")
                    input(
                            type="file"
                            class="article-add__form-input" 
                            id="img"
                            name="img"
                        )
                button(typ="submit" class="article-add__form-button") Publish