doctype html
//-
  mixins
//-
  mix in for manu items
mixin manuLink(fontawesome, url)
  li(class="nav__list-item")
    a(href=url class=path==url?"nav__list-item--active":"")
      span(class=fontawesome)
//-
  mix in for external social link
mixin socialLink(fontawesome, url)
  li(class="footer__media-list-item")
    a( href=url class="footer__media-item")
      span(class=fontawesome)
//-
  mix in for manu items end

html(lang="en")
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatibile" content="IE=edge")
    meta(name="description" content="This is my blog")
    meta(name="keywords" content="blog")
    meta(name="robots" content="follow, index")
    meta(name="author" content="Rafal Lubomski")
    link(rel="apple-touch-icon" sizes="180x180" href="images/favicons/apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href="images/favicons/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="images/favicons/favicon-16x16.png")
    link(rel="mask-icon" href="images/favicons/safari-pinned-tab.svg" color="#5bbad5")
    meta(property="og:url" content="www.mublog.com")
    meta(property="og:title" content="My BLog")
    meta(property="media-image" content="images/media-image.jpg")
    meta(property="ogimage:width" content="200px")
    meta(property="og:description" content="This is my BLog")
    meta(property="og:type" content="projects")
    script(src="https://kit.fontawesome.com/ea48605765.js" crossorigin="anonymous")
  body
    nav(class="nav")
      div(class="wrapper")

        div(class="logo")
          div(class="logo__content")
            span MYBLOG.COM
        //-
          logo end

        ul(class="nav__list")
          +manuLink("fas fa-home", "/")
          +manuLink("far fa-newspaper", "/articles")
          +manuLink("fas fa-mail-bulk", "/contact")
          +manuLink("fas fa-search", "#")
          +manuLink("fas fa-sign-in-alt", "/admin")
    //-
      nav end
    block content
    //-
      main content end
    footer(class="footer")
      div(class="wrapper")
        div(class="footer__media")
          ul(class="footer__media-list")
            +socialLink("fab fa-facebook-f", "#")
            +socialLink("fab fa-instagram", "#")
            +socialLink("fab fa-youtube", "#")
            +socialLink("fab fa-twitter", "#")
        //-
          media links end
        div(class="footer__copy")
          p Copyright
            sup &copy
            span MyBlog.com
        div(class="footer__madeby")
          span Made by
          div(class="footer__madeby-logo")
            img(src="../.././images/lubomski-safari-pinned-tab.svg", alt="www.lubomskirafal.pl logo")
            a(href="www.lubomskirfal.pl" target="blank") lubomskirfal.pl
        div(class="footer__privacy")
          a(href="#") Privacy
    //-
      footer end
          
