extends layout 

block content   
    div(class="login")
        div(class="login__bg")
        div(class="wrapper")
            form(class="login__form" method="post")
                lable(class="login__form-lable" for="loginEmail")
                    input(
                            type="email" 
                            placeholder="email" 
                            class="login__form-input" 
                            id="loginEmail"
                            name="loginEmail"
                            required
                        )
                lable(class="login__form-lable" for="loginPsw")
                    input(
                            type="password" 
                            placeholder="password"  
                            class="login__form-input" 
                            id="loginPsw"
                            name="loginPsw"
                            required
                        )
                button(typ="submit" class="login__form-button") Login